<section>
  <div>
    <%= link_to 'Cadastrar Pousada', new_guesthouse_path %>
  </div>
</section>

<section>
  <% if @guesthouses.empty? %>
    <p>Não há pousadas cadastradas.</p>
  <% end %>
  
  <% @guesthouses.each do |g| %>
    <dl>
      <dt><%= link_to g.brand_name, guesthouse_path(g) %></dt>
      <dd><%= g.address.city %> - <%= g.address.state %></dd>
    </dl>
  <% end %>
</section>